extends layout
block prepend title
    | #{ page.title } &mdash;

block content
    nav.arrow_about
        a.about_label(href="/")
            span.icon-angle-circled-left
            span Home
    include mixins
    article.post
        mixin date(page.date)
        h1.post-title= page.title
        mixin author(page.metadata.author)
        - var tags = env.helpers.getTagsFromArticle(page)
        p.tags
            each tag in tags
                a.tag-link(href=env.helpers.getTagHome(tag).url)= tag
        section.content!= page.html

    div#indicator
    div.comment
        i.icon-comment-alt#addcomment(href="javascript:void(0)", onclick="renderComments()")
        i.icon-weibo(href="javascript:void(0)", onclick="renderWeibo()")
        div#gpluscomments
        script(src=locals.url + "/asserts/js/plusone.js", type="text/javascript")
        script(src=locals.url + "/asserts/js/gpluscomments.js", type='text/javascript')
        script(src=locals.url + "/asserts/js/scroll.js", type="text/javascript")
        script(src=locals.url + "/asserts/js/wbcomments.js", type="text/javascript")
        script(src="http://tjs.sjs.sinajs.cn/open/widget/js/widget/comment.js", type="text/javascript")
